description = "Standard-Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "hauptmenue"
==
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="EURE NAMEN">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ this.page.title }}</title>
	{% styles %}
</head>
<body>
    <!-- Header -->
	<h2>Standardlayout - {{ this.page.title }}</h2>
    
    {% component 'staticMenu' %}
    
    <!-- Content -->
	{% page %}

    <!-- Scripts -->
	<script src="{{ [ '@jquery', '@framework' ] | theme }}"></script>
	{% scripts %}
</body>
</html>